@import "tailwindcss";
@import "tw-animate-css";

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

/* Our font setup */
:root {
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-raleway);
  box-sizing: border-box;
  margin: 0;
}
